<div class="footer-work">
    <div class="footer-01">
        <div class="titling">
            <img src="../../assets/FEVI-ICON-02.png" alt="">
            <h2>Darjee Web</h2>
        </div>
        <h2 style="color: transparent;">nabsdhsvshbasdhb jhmsbdzjahsmnbd xj-</h2>
    </div>
    <div class="centering">
        <h6>Since 2023</h6>
        <h2 style="color: transparent;">nabsdhsvshbasdhb jhmsbdzjahsmnbd xj-</h2>
    </div>
    <div class="container container-m">
        <div class="row-1">
            <span style="width: 350px;padding: 20px;font-weight: 300;text-transform: capitalize;">
                Your one-stop-shop for tailor appointments and fabric shopping. Book with top
                specialists hassle-free and explore our range of trendy fabrics available by the meter. Tailoring made
                simple!"
            </span>
        </div>
        <!-- <div class="line"></div> -->
        <!-- <div class="row-2">
            <ul>
                <li>service</li>
                <li>home</li>
                <li>tech</li>
                <li>tailors</li>
                <li>tailors</li>
                <li>tailors</li>
            </ul>
        </div> -->
        <div class="line"></div>
        <div class="row-3" style="font-weight: 300;">
            <ul>
                <li id="background-color">
                    <a class="nav-link" style="font-weight: 300;" routerLink="/">Home</a>
                </li>
                <li id="background-color">
                    <a class="nav-link" style="font-weight: 300;" routerLink="/Tailor">Tailors</a>
                </li>
                <li id="background-color">
                    <a class="nav-link" style="font-weight: 300;" routerLink="/UsersOrders">Orders</a>
                </li>
                <li id="background-color">
                    <a class="nav-link" style="font-weight: 300;" routerLink="/Design">Cloth</a>
                </li>
                <li id="background-color">
                    <!-- <a class="nav-link" style="font-weight: 300;" routerLink="/Design">Profile</a> -->
                </li>
                <li id="background-color">
                    <a class="nav-link" style="font-weight: 300;" routerLink="/Aboutus">About Us</a>
                </li>
            </ul>
        </div>
        <div class="line"></div>
        <div class="footer">
            <div class="ig item">
                <a href="https://www.instagram.com/karthiik_26/" target="_blank">
                    <img src="../../assets/design images/ig.png" alt="" width="30px" height="30px" class="rounded">
                </a>
            </div>
            <div class="fb item">
                <a href="https://www.facebook.com/karthik.nagula.33" target="_blank">
                    <img src="../../assets/design images/fb.png" alt="" height="30px" class="rounded">
                </a>
            </div>
            <div class="google item">
                <a href="https://api.whatsapp.com/send?phone=7385494029" target="_blank">
                    <img src="../../assets//whtap.png" alt="" width="30px" height="30px" class="rounded">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <span>&copy; copy rights 2023</span>
        </div>
    </div>
</div>