@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:wght@700&display=swap');



.first h1 {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  color: white;
  padding-top: 70px;
  padding-left: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#heading1 {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 900;
  margin: auto;
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  padding-left: 70px;
  background: url(../../assets/bg-img-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  width: 100%;
  height: 120px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.card-container .box-1 {
  width: 380px;
  height: auto;
  background-color: lightgray;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* testimonals */

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 18px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 25px;
  width: 100%;
}

.responsive-container-block.bg {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1320px;
  margin: 50px 0 50px 0;
}

.text-blk.title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 36px;
  line-height: 45px;
  font-weight: 900;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin: 0 0 15px 0;
}

.text-blk.desc {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  max-width: 750px;
}

.responsive-container-block.blocks {
  width: 100%;
  min-height: 0px;
  justify-content: space-between;
  max-width: 1320px;
}

.responsive-cell-block.wk-desk-1.wk-tab-1.wk-mobile-1.wk-ipadp-1.content {
  width: 30%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-blk.info-block {
  width: 85%;
  height: auto;
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin: 30px 0 30px 0;
}

.responsive-container-block.person { 
  width: 90%;
  min-height: 0px;
  height: auto;
  margin-top: 0px;
  margin-right: 31.25px;
  margin-bottom: 20px;
  margin-left: 31.25px;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.icon-block {
  width: 22%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-blk.desig {
  line-height: 16px;
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.section-head-text {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 18px;
  margin-left: 0px;
}

.section-subhead-text {
  color: rgb(72, 72, 72);
  font-size: 20px;
  line-height: 27px;
  max-width: 670px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 0px;
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  box-shadow: rgba(134, 134, 134, 0.16) 0px 6px 24px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: rgb(255, 255, 255);
}

.img-wrapper {
  width: 175px;
  height: 175px;
  clip-path: circle(50% at 50% 50%);
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  line-height: 27px;
}
 
.position {
  line-height: 26px;
  color: rgb(0, 166, 127);
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.outer-container {
  background-color: rgb(250, 250, 250);
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
}

.container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.swiper.team-swiper {
  max-width: 100%;
  width: 100%;
  height: fit-content;
}

.swiper-slide {
  display: flex;
  justify-content: flex-start;
  height: auto;
}

.swiper-pagination.container-block {
  position: relative;
  top: 0px;
  margin-top: 36px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.swiper-wrapper {
  position: relative;
  top: 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}


/* About Us */

* {
  font-family: Nunito, sans-serif;
}

.mainImg {
  color: black;
  width: 54%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.allText {
  padding: 0 0 0 0;
  width: 42%;
  margin: 0 0 0 0;
}


.responsive-container-block.Container.bottomContainer {
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  flex-direction: row-reverse;
  margin: 100px auto 50px auto;
}

.allText.aboveText {
  margin: 0 0 0 40px;
}

.allText.bottomText {
  margin: 0 40px 0 0;
}


.responsive-container-block.Container {
  flex-direction: column;
  height: auto;
}

.allText {
  margin-top: 40px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.allText.aboveText {
  margin: 40px 0 0 0;
}

.responsive-container-block.Container {
  margin: 80px auto 50px auto;
}

.responsive-container-block.Container.bottomContainer {
  margin: 50px auto 50px auto;
}

.allText.bottomText {
  margin: 40px 0 0 0;
}

#karthik img {
  width: 200px;
  height: auto;
  margin-top: -13px;
  margin-left: -12px;
  /* transform: rotate(5deg); */
}

#shruti img {
  width: 200px;
  height: auto;
  margin-top: -13px;
  margin-left: -12px;
}