<!-- <app-nav-bar></app-nav-bar> -->

<div class="container">
    <div>
        <h2 class="text-center tc">
            Thank You !!</h2>
        <h2 class="text-center">
            Your Order Is Placed</h2>
        <h3 class="text-center">
            Order Id : {{Data2}} </h3>
        <h3 class="text-center">
            Payment Id : {{Data1}} </h3>
        <div id="Placingbtn">
            <button class="btn btn-success" (click)="Redirecttodesign()">(Explore More Cloths)</button>
        </div>
    </div>
</div>